html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fff, #f0f0d0);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header .logo {
    font-size: 1.5em;
    color: #333;
}

.header .nav {
    font-size: 1em;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    color: #333;
}

h1 span {
    color: #5A8C31;
}

label {
    float: left;
    margin-right: 650px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    flex: 3;
}

.form-group input {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
}

.button {
    padding: 15px 30px;
    font-size: 1em;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #444;
}

.image-container {
    padding-right: 50px;
    flex: 1;
}

.image-container img {
    width: 300px;
    height: auto;
}
